
      .div-ChatIput{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
      }
      .send-button{
        margin-left: 10px;
        border-style: none;
        padding: 12px 20px;
        border-radius: 10px;
        color: white;
        background-color: rgb(25, 135, 84);
        font-size: 15px;
        cursor: pointer;
      }
      .input{
        flex-grow: 1;
        width: 475px;
        height: 21px;
        padding: 12px 15px ;
        font-size: 15px;
        border-width: 1px ;
        border-radius: 10px;
      }
      .app-container{
        max-width: 600px;
        height: 100vh;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
      }
      .chat-Message-user{
        display: flex;
        justify-content: end;
        align-items: start;
      }
      .chat-Message-robot{
        display: flex;
        /* justify-content: start; */
        align-items: start;
      }
      .chat-Message-text{
        background-color: rgb(238, 238, 238);
        padding: 15px 20px;
        border-radius: 10px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
        max-width: 300px;
      }
      .chat-Message-profile{
        width: 45px;
      }
      .chat-Message-container{
        flex-grow: 1;
        margin-top: 20px;
        overflow: scroll;
        scrollbar-width: none; 
      }
      .welcome{
        text-align: center;
      }
      .loading{
        height: 40px;
        margin: -15px;
      }